{
    "extends": "airbnb/base",
    "ecmaFeatures": {
        "modules": false,
    },
    "rules": {
        "indent": [ 2, 4, { "SwitchCase": 1 }],
        "space-in-parens": [ 2, "always", { "exceptions": [ "{}", "[]", "()" ] }],
        "strict": [ 2, "global" ],
        "brace-style": [ 2, "stroustrup" ],
        "array-bracket-spacing": [ 2, "always", {
            "singleValue": false,
            "objectsInArrays": false,
            "arraysInArrays": false
        }]
    }
}
